* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: #f5f6f7;
}

.header {
  text-align: center;
  text-transform: uppercase;
  padding: 42px;
  background-color: #a5d1ff;
  color: #000000;
  border-bottom: 8px solid #59aaff;
  position: relative;
  z-index: 2;
}

.container {
    display: flex; 
    height: 100vh;
}

.auto-bio {
    width: 30%; 
    background-color: lightgray;
    padding: 20px;
    position: fixed;
    top: 0;
    height: 100vh;
    z-index: 1;
}

.visual {
    width: 70%; 
    margin-left: 30%;
    padding: 20px;
    height: 100vh;
    overflow-y: scroll; 
}
